

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="z-index: 500000;">

  <a class="navbar-brand" href="#">
    <img src="" width="200" height="30" class="d-inline-block align-top" alt="" src="../../assets/whitelogo.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarCollapse" aria-controls="navbarCollapse"
  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-5" id="navbarCollapse">

    <ul class="navbar-nav  fontSize15">

      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="[ '/' ]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >{{homeText}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="[ '/aboutus' ]">{{aboutUsText}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="[ '/portfolio' ]">{{portfolioText}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="[ '/ecatalog' ]">E-CATALOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="[ '/contactus' ]" routerLinkActive="active">{{contactUsText}}</a>
      </li>


    </ul>



  </div>
  <div class="collapse navbar-collapse  " id="navbarCollapse"
  style="background-color: orange; position: relative;">
    <ul class="navbar fontSize25 vertical-center"
    style="background-color: orange; position: absolute; right: 0px; width: 200px;">
      <!-- <li class="nav-item mr-3"><i class="fab fa-line text-white icon-smaller"></i></li> -->

      <!-- <li class="nav-item mr-3"><i class="fas fa-phone-square-alt text-white icon-smaller"></i></li>-->
      <!-- <li class="nav-item mr-3"><i class="fas fa-envelope text-white icon-smaller"></i></li> -->

      <li><img src="../../assets/image/social/line.png" width="20" height="16"></li>
      <li class="text-white">|</li>
      <li><img src="../../assets/image/social/mail.png" width="20" height="15"></li>
      <li class="text-white">|</li>
      <li><img src="../../assets/image/social/phone.png" width="20" height="15"></li>
      <!-- <li class="nav-item mr-3">
        <a href="javascript: location.reload();" (click)="switchLanguage()" >
          <i class="fas fa-globe"></i>
        </a>

      </li> -->

      <li class="nav-item mr-3">
        <a class="text-white"  style="font-size:15px;" href="javascript: location.reload();" (click)="switchLanguage()" >
          <!-- <span>TH</span> | <span class="FocusEN">EN</span> -->
          <span>{{languageText}}</span>
        </a>

      </li>

    </ul>
  </div>

</nav>
