
<header>

<nav>
  <div class="nav-normal topnav d-flex flex-row justify-content-between" style="height: 50px;">

    <div class="d-flex flex-row align-items-center">
      <a  href="#">
        <img src="" width="200" height="30"  class="d-inline-block align-top" alt=""
        src="../../assets/whitelogo.png" style="padding-left: 15px;">
      </a>
    </div>

    <div class="d-flex flex-row align-items-center">
      <div class="p-3 link-menu"><a  [routerLink]="['/']" routerLinkActive="router-link-active" >{{homeText}}</a></div>
      <div class="p-3 link-menu"><a  [routerLink]="['/aboutus']" >{{aboutUsText}}</a></div>
      <div class="p-3 link-menu"><a  [routerLink]="[ '/portfolio']">{{portfolioText}}</a></div>
      <div class="p-3 link-menu"><a  [routerLink]="[ '/ecatalog' ]" >E-CATALOG</a></div>
      <div class="p-3 link-menu"><a  [routerLink]="[ '/contactus' ]" >{{contactUsText}}</a></div>
    </div>

    <div class="d-flex flex-row align-items-center">

      <div class="p-2 bd-highlight link-menu">
        <a class="nav-link text-white alink"  href="javascript: location.reload();"
      (click)="switchLanguage()" >
        <span>{{languageText}}</span>
      </a>
      </div>
      <div class="p-2 bd-highlight link-menu">
        <a href="http://line.me/ti/p/~@ssdevelopment">
          <button type="button" class="btn">
            <img src="../../assets/image/social/line.png" width="20">
          </button>
        </a>
      </div>
      <div class="p-2 bd-highlight link-menu">
        <a href="mailto:info@ssdevelopment.co.th">
          <button type="button" class="btn">
              <img src="../../assets/image/social/mail.png" width="20">
          </button>
        </a>
      </div>
      <div class="p-2 bd-highlight link-menu">
        <a href="tel:034824398">
          <button type="button" class="btn">
            <img src="../../assets/image/social/phone.png" width="20px">
          </button>
        </a>
      </div>
    </div>

  </div>

  <!-- <ul class="topnav">

    <li class="nav" style="margin-right: 80px;">
      <a  href="#">
        <img src="" width="200" height="30"  class="d-inline-block align-top" alt=""
        src="../../assets/whitelogo.png" style="padding-left: 15px;">
      </a>
    </li>


    <li class="nav"><a  [routerLink]="['/']" routerLinkActive="router-link-active" >{{homeText}}</a></li>
    <li class="nav"><a  [routerLink]="['/aboutus']" >{{aboutUsText}}</a></li>
    <li class="nav"><a  [routerLink]="[ '/portfolio']">{{portfolioText}}</a></li>
    <li class="nav"><a  [routerLink]="[ '/ecatalog' ]" >E-CATALOG</a></li>
    <li class="nav"><a  [routerLink]="[ '/contactus' ]" >{{contactUsText}}</a></li>


    <li class="li-social right">
      <a href="http://line.me/ti/p/~yourlineid">
      <button type="button" class="btn" style="padding: 0;">
        <img src="../../assets/image/social/line.png" width="20">
      </button>
    </a>
    </li>

    <li class="right">
      <a href="mailto:someone@example.com">
      <button type="button" class="btn"  style="padding: 0;" >
          <img src="../../assets/image/social/mail.png" width="20">
      </button>
    </a>
    </li>
    <li class="right">
      <a href="tel:5554280940">
      <button type="button" class="btn" style="padding: 0;">
        <img src="../../assets/image/social/phone.png" width="20px">
      </button>
    </a>
    </li>
    <li class="right">
      <a class="nav-link text-white alink"  href="javascript: location.reload();"
      (click)="switchLanguage()" >
        <span>{{languageText}}</span>
      </a>
    </li>

  </ul> -->


  <div class="mobile-container">

    <!-- Top Navigation Menu -->
    <div class="topnav">
      <a  href="#">
        <img src="" width="200" height="30"  class="d-inline-block align-top" alt=""
        src="../../assets/whitelogo.png" style="padding-left: 15px;">
      </a>
      <div id="myLinks" >
        <a [routerLink]='["/"]' (click)="openNavbar()" >{{homeText}}</a>
        <a [routerLink]="['/aboutus']" (click)="openNavbar()" >{{aboutUsText}}</a>
        <a [routerLink]="[ '/portfolio']" (click)="openNavbar()" >{{portfolioText}}</a>
        <a [routerLink]="[ '/ecatalog' ]" (click)="openNavbar()" >E-CATALOG</a>
        <a [routerLink]="[ '/contactus' ]" (click)="openNavbar()" >{{contactUsText}}</a>
        <div class="d-flex justify-content-around" style="background-color: coral; height: 40px;">
          <div class="p-2 bd-highlight link-menu d-flex justify-content-center align-items-center">
            <a class="nav-link text-white alink"  href="javascript: location.reload();"
          (click)="switchLanguage()" >
            <span>{{languageText}}</span>
          </a>
          </div>
          <div class="p-2 bd-highlight link-menu d-flex justify-content-center align-items-center">
            <a href="http://line.me/ti/p/~@ssdevelopment">
              <button type="button" class="btn">
                <img src="../../assets/image/social/line.png" width="20">
              </button>
            </a>
          </div>
          <div class="p-2 bd-highlight link-menu d-flex justify-content-center align-items-center">
            <a href="mailto:info@ssdevelopment.co.th">
              <button type="button" class="btn">
                  <img src="../../assets/image/social/mail.png" width="20">
              </button>
            </a>
          </div>
          <div class="p-2 bd-highlight link-menu d-flex justify-content-center align-items-center">
            <a href="tel:034824398">
              <button type="button" class="btn">
                <img src="../../assets/image/social/phone.png" width="20">
              </button>
            </a>
          </div>
        </div>
      </div>
      <a class="icon" (click)="openNavbar()">
        <i class="fa fa-bars"></i>
      </a>
    </div>

  </div>

</nav>

</header>


