<div class="Container" style="background-color: #FFBD01;" >
  <img class="img-fluid" src="../../assets/image/Vector.png">
</div>


 <div class="Container bg-footer">

 <footer class="ml-5">
  <div class="row">

    <div class="col-6 col-md ml-3">
      <h5 class="FontWhite">{{HeadeOffice}}</h5>
      <ul class="list-unstyled text-small">
        <li class="FontWhite">
          <div class="row">
            <div class="h-25 d-inline-block" style="width: 2em;"><i class="fas fa-map-marker-alt"></i></div>
            <div class="h-50 d-inline-block" style="width: 300px;">{{HeadOfficeAddress}}</div>
          </div>
        </li>
        <li class="FontWhite">
          <div class="row">
            <div class="h-25 d-inline-block" style="width: 2em;"><i class="fas fa-phone-alt"></i></div>
            <div class="h-50 d-inline-block" style="width: 300px;">{{HeadOfficePhone}}</div>
          </div>
        </li>
        <li class="FontWhite">
          <div class="row">
            <div class="h-25 d-inline-block" style="width: 2em;"><i class="fas fa-fax"></i></div>
            <div class="h-50 d-inline-block" style="width: 300px;">034494077</div>
          </div>
        </li>
        <li class="FontWhite">
          <div class="row">
            <div class="h-25 d-inline-block" style="width: 2em;"><i class="far fa-envelope"></i></div>
            <div class="h-50 d-inline-block" style="width: 300px;">ss_development@yahoo.comng </div>
          </div>
        </li>

        <li class="FontWhite">
          <div class="row">
            <div class="h-25 d-inline-block" style="width: 2em;"><i class="fab fa-line"></i></div>
            <div class="h-50 d-inline-block" style="width: 300px;">LINE :@ssdevelopment</div>
          </div>
        </li>

        <li class="FontWhite">
          <div class="row">
            <div class="h-25 d-inline-block" style="width: 2em;"><i class="far fa-clock"></i></div>
            <div class="h-50 d-inline-block" style="width: 300px;">{{HeadOfficeWorkDay}}</div>
          </div>
        </li>


      </ul>
      <img src="../../assets/image/DBD.png" width="150px">
    </div>
    <div class="col-6 col-md">
      <h5 class="FontWhite">{{showroom}}</h5>
      <ul class="list-unstyled text-small">
        <li class="FontWhite">
          <div class="row">
            <div class="h-25 d-inline-block" style="width: 2em;"><i class="fas fa-map-marker-alt"></i></div>
            <div class="h-50 d-inline-block" style="width: 300px;">{{showroomAdress}}</div>
          </div>
        </li>
        <li class="FontWhite">
          <div class="row">
            <div class="h-25 d-inline-block" style="width: 2em;"><i class="fas fa-phone-alt"></i></div>
            <div class="h-50 d-inline-block" style="width: 300px;">02-467-5601</div>
          </div>
        </li>
        <li class="FontWhite">
          <div class="row">
            <div class="h-25 d-inline-block" style="width: 2em;"><i class="far fa-envelope"></i></div>
            <div class="h-50 d-inline-block" style="width: 300px;">ss_development@yahoo.com</div>
          </div>
        </li>
        <li class="FontWhite">
          <div class="row">
            <div class="h-25 d-inline-block" style="width: 2em;"><i class="fab fa-line"></i></div>
            <div class="h-50 d-inline-block" style="width: 300px;">LINE :@ssfurnitureline</div>
          </div>
        </li>




      </ul>

      <ul class="list-unstyled text-small">
        <li class="FontWhite">
          <img src="../../assets/image/social/socialicon1.1.png" height="24" width="24">
          <img src="../../assets/image/social/socialicon3.1.png" height="24" width="24">
          <img src="../../assets/image/social/socialicon2.1.png" height="24" width="24">
          <img src="../../assets/image/social/socialicon4.1.png" height="24" width="24">
          <img src="../../assets/image/social/socialicon5.1.png" height="24" width="24">

          <!-- <i class="fab fa-youtube text-red f-large mr-2"></i>
          <i class="fab fa-facebook text-blue f-large mr-2"></i>
          <i class="fab fa-instagram  f-large mr-2"></i>
          <i class="fab fa-line text-green f-large mr-2"></i>
          <i class="fab fa-twitter-square text-sky f-large mr-2"></i> -->

        </li>
      </ul>
    </div>
    <div class="col-6 col-md pr-5 pt-5">
      <form #mailForm="ngForm">
        <div class="form-group">
          <input type="text" class="form-control" id="formGroupExampleInput"
          ngModel
          name="Name"
          #Name="ngModel"
          placeholder="Enter Your Name">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="formGroupExampleInput2"
          placeholder="Enter Your Email"
          ngModel
          name="Email"
          #email="ngModel">

        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="formGroupExampleInput2"
          placeholder="Enter Your Message.."
          ngModel
          name="Message"
          #Message="ngModel">

        </div>
        <button class="btn btn-primary" (click)='SentMail(mailForm.value)'>Submit</button>
      </form>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col"></div>
    <div class="col-8">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link FontWhite" [routerLink]="[ '/' ]">HOME</a>
        </li>
        <li class="nav-item FontWhite">
          <a class="nav-link" [routerLink]="[ '/aboutus' ]">ABOUT US</a>
        </li>
        <li class="nav-item FontWhite">
          <a class="nav-link" [routerLink]="[ '/portfolio' ]">PORTFOLIOS</a>
        </li>
        <li class="nav-item FontWhite">
          <a class="nav-link FontWhite" [routerLink]="[ '/ecatalog' ]">E-CATALOG</a>
        </li>
        <li class="nav-item FontWhite">
          <a class="nav-link FontWhite" [routerLink]="[ '/contactus' ]">CONTACT US</a>
        </li>
      </ul>

    </div>

  </div>
</footer>

</div>

<footer class="footer" style="background-color: #FFBD01;">
  <div class="container" >
    <span class="FontWhite" >
     <i class="far fa-copyright"></i>ALL RIGHTS RESERVED | SS DEVELOPMENT
    </span>
  </div>
</footer>
