
 <div class="Container" style="background:
  linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ),
 url('../assets/image/footer.jpg');opacity: 0.5;">

 <footer class="ml-5">
  <div class="row">

    <div class="col-6 col-md">
      <h5 class="FontWhite">{{HeadeOffice}}</h5>
      <ul class="list-unstyled text-small">
        <li class="FontWhite"><i class="fas fa-map-marker-alt"></i>  {{HeadOfficeAddress}}</li>
        <li class="FontWhite"><i class="fas fa-phone-alt"></i> {{HeadOfficePhone}}</li>
        <li class="FontWhite"><i class="fas fa-fax"></i> 034494077</li>
        <li class="FontWhite"><i class="far fa-envelope"></i> ss_development@yahoo.com</li>
        <li class="FontWhite"><i class="fab fa-line"></i> LINE :@ssdevelopment</li>
        <li class="FontWhite"><i class="far fa-clock"></i> {{HeadOfficeWorkDay}}</li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="FontWhite">{{showroom}}</h5>
      <ul class="list-unstyled text-small">
        <li class="FontWhite"><i class="fas fa-map-marker-alt"></i> {{showroomAdress}}</li>
        <li class="FontWhite"><i class="fas fa-phone-alt"></i> 02-467-5601</li>
        <li class="FontWhite"><i class="far fa-envelope"></i> ss_development@yahoo.com</li>
        <li class="FontWhite"><i class="fab fa-line"></i> LINE :@ssfurnitureline</li>
      </ul>

      <ul class="list-unstyled text-small">
        <li class="FontWhite">
          <i class="fab fa-youtube text-red f-large mr-2"></i>
          <i class="fab fa-facebook text-blue f-large mr-2"></i>
          <i class="fab fa-instagram  f-large mr-2"></i>
          <i class="fab fa-line text-green f-large mr-2"></i>
          <i class="fab fa-twitter-square text-sky f-large mr-2"></i>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5 class="FontWhite">About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>

    </div>
  </div>
</footer>

</div>

<footer class="footer" style="background-color: #FFBD01;">
  <div class="container" >
    <span class="FontWhite" style = "text-align: center;">
     <p><i class="far fa-copyright">
    </i>  ALL RIGHTS RESERVED | SS DEVELOPMENT</p>
    </span>
  </div>
</footer>
