.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.FontWhite{
 color: white;
 font-family: sukhumvit;
}
.bg-footer{
  background:url('../../assets/image/footer.png');
 background-size: contain;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }


}

@media(max-width:995px){
  .bg-footer{
    background:#524d4d;
   background-size: contain;
  }
}
