<div class="jumbotron">
  <div class="container">
    <h2 class="text-center text-white">About Us</h2>
    <p class="text-center text-orange">interior design make to order built-in furniture</p>

  </div>
</div>

<!-- About Section -->
<div class="w3-row w3-padding-64" id="about">


  <div class="w3-col m6 w3-padding-large">
    <h1 class="w3-center text-orange">SS DEVELOPMENT</h1><br>
    <p *ngFor="let item of content">{{item}}</p>

  </div>

  <div class="w3-col m6 w3-padding-large w3-hide-small">
    <img src="../../assets/image/myCompany.jpg" class="w3-round w3-image w3-opacity-min"
    alt="Table Setting" width="600" height="750">
   </div>
</div>


<div class="container mb-2">
<img class="img-fluid" alt="Responsive image" src="../../assets/image/BusinessLines.jpg" >
</div>




<!-- Use custom zoom buttons -->
