
 <div  class="Container mt-5" style="background-color: #FFBD01;">


 <h3 class="font-weight-bold text-center pt-3">OUR CLIENT</h3>

<div class="Container h-100 d-flex justify-content-center">


  <div class="row mt-5 justify-content-center">
  <div class="col-md-auto" *ngFor="let item of ourClient1">
    <div class="thumbnail mb-5 d-flex justify-content-center">
        <img [src]="item" alt="Lights" width="150" height="80">
    </div>
  </div>

  <div class="row mb-5 justify-content-center">
    <div class="col-md-auto d-flex justify-content-center" *ngFor="let item of ourClient2">
      <div class="thumbnail mt-5">
          <img [src]="item" alt="Lights" width="150" height="80">
      </div>
    </div>
    </div>

  </div>

</div>



</div>

