<!-- <div class="Container mt-5" style="background-color: slategray; ">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">

          <div class="col-lg-3 noMargin" *ngFor="let item of cardImg1">

          <div class="serviceBox" [ngStyle]="{'background-image':item.backimg}">
            <div class="card">
              <img class="imgService" [src]="item.img" alt="Avatar" style="width:100%">
              <div class="container">
                <p><b>{{item.name}}</b></p>
                <p>{{item.eng}}</p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="row">

          <div class="col-lg-3 noMargin" *ngFor="let item of cardImg2">
            <div class="serviceBox" [style]="item.backimg">
              <div class="card">
                <img class="imgService" [src]="item.img" alt="Avatar" style="width:100%">
                <div class="container">
                  <p><b>{{item.name}}</b></p>
                  <p>{{item.eng}}</p>
                </div>
              </div>
            </div>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div> -->
<div class="service-slider Container mt-6" style="z-index: unset;">
  <carousel  cellWidth="50" cellsToShow=4 loop="true" autoplay="true" borderRadius="2"
   height=500
  autoplayInterval="2000">

    <div class="carousel-cell" *ngFor="let item of cardImg1" style="padding: 3px;">
      <div class="container">
        <div class="row justify-content-center">
          <img [src]="item.img" alt="Notebook" style="width: 200px;">
        </div>
        <div class="row justify-content-center pt-2">
          <p class="font-weight-bold" style="text-align: center;">{{item.name}}</p>
        </div>
        <div class="row">
          <p class="text-break" >{{item.desc}}</p>
        </div>


      </div>


    </div>

  </carousel>
</div>

