/* You can add global styles to this file, and also import other style files */

/* body {
  min-height: 75rem;

} */


* {font-family:"sukhumvit", Courier, monospace}

/* body{
 overflow-x:hidden
} */

@font-face {

    /*font-family: 'supermarket';
    src: url('supermarket/supermarket.eot');
    src: url('supermarket/supermarket.eot') format('embedded-opentype'),
         url('supermarket/supermarket.woff') format('woff'),
         url('supermarket/supermarket.ttf') format('truetype'),
         url('supermarket/supermarket.svg') format('svg');
    font-weight: normal;
    font-style: normal;*/


	font-family: 'sukhumvit';
    src: url('assets/font/sukhumvit/SukhumvitSet-Light.eot');
    src: url('assets/font/sukhumvit/SukhumvitSet-Light.eot') format('embedded-opentype'),
         url('assets/font/sukhumvit/SukhumvitSet-Light.woff') format('woff'),
         url('assets/font/sukhumvit/SukhumvitSet-Light.ttf') format('truetype'),
         url('assets/font/sukhumvit/SukhumvitSet-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green;
}


/* Text Color */
.text-orange{
  color: orange;
}
.text-white{
  color: white;
}
.text-red{
 color: #c00;
}
.text-blue{
  color: #1094f4;
 }
 .text-pink{
  color: pink;
 }
 .text-green{
  color: greenyellow;
 }
 .text-sky{
  color: rgb(24, 166, 223);
 }
.f-large{
  font-size: x-large;
}
